/* Geral */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, h2 {
    margin-bottom: 10px;
}

/* Container principal */
.container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px; /* Espaço abaixo para a nova div de resultados */
}

/* Div de Tabelas */
.tables {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-height: 400px;
    overflow-y: auto;
    background-color: #f9f9f9;
}

/* Editor SQL */
.editor {
    flex: 2;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-height: 400px;
    overflow-x: auto;
    overflow-y: auto;
}

/* Histórico */
.history {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-height: 400px;
}

/* Div para Resultados */
.result-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-height: 400px; /* Altura máxima para os resultados */
    overflow-y: auto; /* Barra de rolagem vertical */
    overflow-x: auto; /* Barra de rolagem horizontal */
    background-color: #f9f9f9; /* Cor de fundo para destacar */
}

/* Tabela de resultados */
table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

.custom-textarea {
    font-size: 16px;
    padding: 10px;
    max-width: 1270px;
    max-height: 250px;
}

/* Estilo de erros */
.success {
    color: green;
    font-weight: bold;
}

.error {
    color: red;
    font-weight: bold;
}

.expand-btn {
    /*background-color: #007bff;*/
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0;
    width: 100%;
    text-align: left;
}

.expand-btn:hover {
    background-color: #436e9c;
}

.columns-list {
    padding-left: 20px;
    margin-top: 10px;
}

.columns-list ul {
    list-style-type: none;
    padding-left: 0;
}

.columns-list li {
    margin: 5px 0;
}