/* Geral */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, h2 {
    margin-bottom: 10px;
}

/* Container principal */
.container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px; /* Espaço abaixo para a nova div de resultados */
}


/* Editor SQL */
.editor, .history {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-height: 300px;
}

.editor {
    max-width: 1500px;
    overflow-x: auto;
    overflow-y: auto;
}

/* Histórico */
.history {
    max-width: 500px;
}

/* Div para Resultados */
.result-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-height: 400px; /* Altura máxima para os resultados */
    overflow-y: auto; /* Barra de rolagem vertical */
    overflow-x: auto; /* Barra de rolagem horizontal */
    background-color: #f9f9f9; /* Cor de fundo para destacar */
}

/* Tabela de resultados */
table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

.custom-textarea {
    font-size: 16px;
    padding: 10px;
    max-width: 1270px;
    max-height: 250px;
}

/* Estilo de erros */
.success {
    color: green;
    font-weight: bold;
}

.error {
    color: red;
    font-weight: bold;
}
